<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginstyle.css}">
</head>
<body>
<div class="container">
    <form class="form" th:action="@{/login}" method="post">
        <h2>Logowanie do konta bankowego</h2>
        <label for="username">Login:</label>
        <input type="text" id="username" name="username" placeholder="Wprowadź login" required>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" placeholder="Wprowadź hasło" required>
        <div>
            <input type="checkbox" id="remember-me" name="_spring_security_remember_me"/>
            <label for="remember-me">Remember Me</label>
        </div>
        <h3>Zaloguj się za pomocą:</h3>
        <div>
            <a th:href="@{/oauth2/authorization/google}"><img src="https://developers.google.com/identity/images/g-logo.png" alt="Google"></a>
        </div>
        <button type="submit">Zaloguj się</button>
        <div th:if="${param.error != null}">
            <p class="error" th:text="'Nieprawidłowe dane logowania. Pozostało Ci jeszcze ' + ${attempts} + ' prób logowania.'"></p>
        </div>
    </form>
    <p>Don't have account? <a href="/registration">Registration</a></p>
</div>
</body>
</html>
