<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paycheck Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profilstyle.css}">
</head>
<body>
<div class="menu">
    <div class="menu-item">
        <a>New transactions</a>
        <div class="submenu">
            <a th:href="${@environment.getProperty('payment.link')}">Payment</a>
            <a th:href="${@environment.getProperty('paycheck.link')}">Paycheck</a>
            <a th:href="${@environment.getProperty('transfer.link')}">Transfer</a>
        </div>
    </div>
    <a th:href="${@environment.getProperty('konto.link')}">Account</a>
    <a th:href="${@environment.getProperty('mytransactions.link')}">My transactions</a>
    <a href="/logout">Log out</a>
</div>

<div class="section">
    <h1>Paycheck</h1>
    <form action="/api/paycheck" method="post">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <br>
        <label for="password">Account Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Withdraw">
    </form>
</div>
</body>
</html>

