<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paycheck Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profilstyle.css}">
</head>
<body>
<div class="menu">
    <div class="menu-item">
        <a>New transactions</a>
        <div class="submenu">
            <a th:href="${@environment.getProperty('payment.link')}">Payment</a>
            <a th:href="${@environment.getProperty('paycheck.link')}">Paycheck</a>
            <a th:href="${@environment.getProperty('transfer.link')}">Transfer</a>
        </div>
    </div>
    <a th:href="${@environment.getProperty('konto.link')}">Account</a>
    <div class="menu-item">
        <a class="submenu-trigger">My transactions</a>
        <div class="submenu">
            <a href="/api/payment-and-paycheck-history">Payment and paycheck history</a>
            <a href="/api/account-transfer-history">Account transfer history</a>
        </div>
    </div>
    <a href="/logout">Log out</a>
</div>


<div class="section">
    <h1>Paycheck</h1>
    <form th:action="@{/api/paycheck}" method="post">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <br>
        <label for="password">Account Password:</label>
        <input type="text" id="password" name="password" required>
        <br>
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description">
        <br>
        <input type="submit" value="Withdraw">
    </form>
    <div class="error-section">
        <p th:text="${error}" th:if="${error}"></p>
    </div>
</div>
</div>
</body>
</html>
