<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Informacje użytkownika</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profilstyle.css}">
</head>
<body>
<div class="menu">
    <div class="menu-item">
        <a>New transactions</a>
        <div class="submenu">
            <a th:href="${@environment.getProperty('payment.link')}">Payment</a>
            <a th:href="${@environment.getProperty('paycheck.link')}">Paycheck</a>
            <a th:href="${@environment.getProperty('transfer.link')}">Transfer</a>
        </div>
    </div>
    <a th:href="${@environment.getProperty('konto.link')}">Account</a>
    <div class="menu-item">
        <a class="submenu-trigger">My transactions</a>
        <div class="submenu">
            <a href="/api/payment-and-paycheck-history">Payment and paycheck history</a>
            <a href="/api/account-transfer-history">Account transfer history</a>
        </div>
    </div>
    <a href="/logout">Log out</a>
</div>



<div class="section">
    <h1>Wprowadź gotówkę</h1>
    <form action="/wprowadz_gotowke" method="post">
        <label for="kwota">Kwota: </label>
        <input type="number" id="kwota" name="kwota" step="0.01" required><br><br>
        <label for="opis">Opis: </label>
        <input type="text" id="opis" name="opis" required><br><br>
        <input type="submit" value="Wprowadź">
    </form>
</div>
</body>
</html>

