<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registerstyle.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/registration}" method="post" enctype="multipart/form-data">
        <h1>Register</h1>

        <label for="name"><b>Name</b></label>
        <input type="text" id="name" name="name" required="required"/>

        <label for="surname"><b>Surname</b></label>
        <input type="text"  id="surname" name="surname" required>

        <label for="city"><b>City</b></label>
        <input type="text"  id="city" name="city" required>

        <label for="country"><b>Country</b></label>
        <input type="text"  id="country" name="country" required>

        <label for="phone"><b>Phone</b></label>
        <input type="tel"  id="phone" name="phone" required>

        <label for="street"><b>Street</b></label>
        <input type="text"  id="street" name="street" required>

        <label for="username"><b>Login</b></label>
        <input type="text" id="username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password"  id="password" name="password" required>

        <label for="role"><b>Role</b></label>
        <select name="role" id="role">
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
        </select>

        <button type="submit" class="registerbtn">Register</button>
        <p>Already have an account? <a th:href="${@environment.getProperty('login.link')}">Log in</a></p>
    </form>
</div>
</body>
</html>
