<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Informacje użytkownika</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profilstyle.css}">
</head>
<body>
<!-- Menu -->
<div class="menu">
    <div class="menu-item">
        <a>New transactions</a>
        <div class="submenu">
            <a th:href="${@environment.getProperty('payment.link')}">Payment</a>
            <a th:href="${@environment.getProperty('paycheck.link')}">Paycheck</a>
            <a th:href="${@environment.getProperty('transfer.link')}">Transfer</a>
        </div>
    </div>
    <a th:href="${@environment.getProperty('konto.link')}">Konto</a>
    <a th:href="${@environment.getProperty('mytransactions.link')}">My transactions</a>
    <a href="/logout">Log out</a>
</div>

<div class="section">
</div>
</body>
</html>