<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Informacje użytkownika</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profilstyle.css}">
</head>
<body>
<!-- Menu -->
<div class="menu">
    <a href="/text1">Text 1</a>
    <a href="/text2">Text 2</a>
    <a href="/text3">Text 3</a>
    <a href="/text4">Text 4</a>
</div>

<!-- Sekcja z informacjami o użytkowniku -->
<div class="section">
    <h1>Informacje użytkownika</h1>
<!--    <p>Id adresu: <span th:text="${userInformation.idAdress}"></span></p>-->
<!--    <p>Kraj: <span th:text="${userInformation.country}"></span></p>-->
<!--    <p>Miasto: <span th:text="${userInformation.city}"></span></p>-->
<!--    <p>Ulica: <span th:text="${userInformation.strett}"></span></p>-->
<!--    <p>Telefon: <span th:text="${userInformation.phone}"></span></p>-->
</div>
</body>
</html>