<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Informacje użytkownika</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profilstyle.css}">
</head>
<body>
<!-- Menu -->
<div class="menu">
    <div class="menu-item">
        <a>New transactions</a>
        <div class="submenu">
            <a th:href="${@environment.getProperty('payment.link')}">Payment</a>
            <a th:href="${@environment.getProperty('paycheck.link')}">Paycheck</a>
            <a th:href="${@environment.getProperty('transfer.link')}">Transfer</a>
        </div>
    </div>
    <a th:href="${@environment.getProperty('konto.link')}">Konto</a>
    <a th:href="${@environment.getProperty('mytransactions.link')}">My transactions</a>
    <a href="/logout">Log out</a>
</div>

<!-- Sekcja z informacjami o użytkowniku -->
<div class="section">
    <h1>Informacje użytkownika</h1>
<!--    <p>Id adresu: <span th:text="${userInformation.idAdress}"></span></p>-->
<!--    <p>Kraj: <span th:text="${userInformation.country}"></span></p>-->
<!--    <p>Miasto: <span th:text="${userInformation.city}"></span></p>-->
<!--    <p>Ulica: <span th:text="${userInformation.strett}"></span></p>-->
<!--    <p>Telefon: <span th:text="${userInformation.phone}"></span></p>-->
</div>
</body>
</html>